body {
  font-size: 18px;
  color: #525d67;
  background: #f7fafb;
  font-family: "Georgia","Arial","Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei","SimSun",sans-serif;
  font-size: 1.125em;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translate3d(0,0,0);
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 20px 0;
  color: #2c3e50;
}

h1, h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
  font-weight: bolder;
}

h4 {
  font-size: 1.7rem;
  color: #bdc3c7;
}

h5, h6 {
  font-size: 1.4rem;
}

hr {
  width: 10%;
  border: 1px solid #eee;
  margin-bottom: 30px;
}

.content h3 {
  margin: 40px 0 40px 0;
}

.container {
  max-width: 700px;
  background: #FFF;
  overflow: hidden;
  padding: 20px;
}

.banner {
  font-size: 14px;
  margin: 0 auto 10px -18px;
}

.title {
  font-size: 3.8rem;
  margin-left: -5px;
  margin-bottom: 30px;
  color: #38485a;
}

.justtitle {
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #38485a;
}

.eof {
  text-align: center;
  font-size: 16px;
}

.content,blockquote {
  font-size: 1.9rem;
  line-height: 2.1em;
  color: #525d67;
}

.content i, .content em {
  color: #7f8c8d;
  font-style: normal;
}

.content img {
  height: auto;
  width: 100%;
  display: inline-block;
  margin: 10px auto;
}

.content img.center {
  display: block;
  margin: 0 auto;
}

blockquote p {
  font-weight: 400;
  line-height: 2.3em;
  font-size: 1.7rem;
}

.more .title {
  font-size: 1.1em;
}

.forb {
  text-align: right;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  color: #747f8c;
}

.date {
  color: #FFF;
  font-weight: bolder;
  text-transform: uppercase;
}

.date a:link {
  color: #FFF;
  text-decoration: none;
  margin: 0 2px;
  padding: 3px;
}

.date a:visited {
  color: #FFF;
  text-decoration: none;
}

blockquote {
  border-left: 2px solid #eeeeee;
  margin-bottom: 30px;
}

.footer a:link {
  color: #747f8c;
  text-decoration: none;
  margin: 0 2px;
  padding: 3px;
}

.banner a:hover {
  color: #747f8c;
  text-decoration: none;
  background: #FFF;
}

.comments a:link {
  color: #747f8c;
  text-decoration: none;
  margin: 0 2px;
  padding: 3px;
}

.comments a:visited {
  color: #747f8c;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.content strong {
  color: #38485a;
}

.comments {
  margin-bottom: 30px;
  margin-top: 50px;
}

.comments .comment {
  font-size: 16px;
}

.archive,.content {
  list-style: none;
  padding: 0;
}

.archive li {
  line-height: 1.5em;
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
}

.archive li time {
  color: #95a5a6;
}

.archive .year {
  color: #6b747f;
  text-transform: uppercase;
  margin: 25px 0;
  font-weight: bolder;
}

ul,ol {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
}

.content ul,li {
  list-style: initial;
  margin-bottom: 20px;
  line-height: 2em;
}

code {
  border: 1px dashed #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 1px 1px #FFF;
  background: #FFF;
  color: #6b747f;
  font-size: 12px;
  margin: 0 5px 0 5px;
}

pre {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  line-height: 18px;
  margin-bottom: 25px;
  padding: 10px;
}

pre code {
  border: none;
  box-shadow: none;
  font-size: 0.9em;
  font-family: "Panic Sans", "Consolas", "Liberation Mono", "Courier", "monospace";
  margin: 0px;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
  letter-spacing: 0;
}

#disqus_container .comment {
  margin-left: -5px;
}

.info,.suggest {
  color: #bababa;
  font-size: 16px;
  text-align: right;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.info,.suggest,.pre {
  float: left;
}

.info,.suggest,.next {
  float: right;
}

.index .title {
  font-size: 25px;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.nav-pills > li > a:hover {
  color: #747f8c;
  background-color: #FFF;
}

.poster,.content p,.content ul,.date,.content {
  margin-bottom: 30px;
}

.footer a:visited,.forb a:link,.suggest a:link,.forb a:visited,.suggest a:visited {
  color: #747f8c;
  text-decoration: none;
}

.forb a:hover, .suggest a:hover {
  color: #db4937;
}

.title a:link,.title a:visited,.banner a:link,.banner a:visited {
  color: #41464a;
  text-decoration: none;
}

.footer a:hover {
  color: #41474e;
}

.content a {
  border-bottom: 2px solid #ecf0f1;
}

.content .center {
  font-size: 15px;
  font-style: italic;
  color: #bdc3c7;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 15px;
}

.archive a, .tagcloud a, .about a, sup a, .footnotes a{
  border: 0px;
}

.content a:visited,.content a:link,.content a:hover {
  color: #747f8c;
  margin: 0 2px;
  padding: 3px;
}

.content a:hover {
  color: #db4937;
}

.content .collect_info {
  margin-bottom: 40px;
  color: #747f8c;
}

/* table */

.content table {
  margin-bottom: 25px;
  font-size: 16px;
  width: 100%;
}

.content table thead {
  border-bottom: 2px solid #ecf0f1;
}

.content table thead tr th:first-child {
  width: 250px;
}

.justtitle a:hover {
  color: #747f8c;
}

.tagcloud span a:link, .tagcloud a:visited,.tagcloud a:hover  {
  margin: 0px 0px 0px 0px;
}

.footnotes {
  border-top: 1px solid #f0f0f0;
  font-size: 16px;
  padding-top: 30px;
  color: #747f8c;
}

.footnotes ol {
  margin-left: -15px;
}

.footnotes ol li {
  list-style: decimal;
  line-height: 2em;
  margin-bottom: -10px;
}

::selection {
  background: #f7fafb; /* Safari */
}

::-moz-selection {
  background: #f7fafb; /* Firefox */
}

.author {
  max-width: 700px;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.author .icon {
  text-align: center;
}

.author .icon img {
  width: 69px;
  height: 69px;
  border-radius: 37px;
  border:5px solid white;
}

.author .name, .author .description {
  text-align: center;
  border-radius: 4px;
  margin: 20px auto;
  font-size: 14px;
  padding: 5px;
  text-shadow: 0 1px 0 white;
}

.author .name {
  background: #6b747f;
  color: white;
  text-shadow:0 1px 0 #41474e;
  width: 100px;
}

.author a:link, .author a:visited {
  color: white;
}

.author a:hover {
  color: #fcfcfc;
}

.aboutme {
  text-align: center;
}

.aboutme img {
  max-width: 256px;
  max-height: 256px;
  border-radius: 128px;
  border: 10px solid #f7fafb;
}
